<h1>{{title}}</h1>
<h3>{{content}}</h3>
<ul style="display: flex;">
  <li style="list-style: none"><a href="/home" style="text-decoration: none; flex: 1; margin-right : 20px;">Home</a></li>
  <li style="list-style: none"><a href="/about" style="text-decoration: none; flex: 1">About</a></li>
</ul>